main
  form(method="POST")
    label(for="messageContent") 
    input(id="messageContent" type="text" placeholder="add your text here")
    label(for="messageColorHex")
    input(id="messageColorHex" type="color" value="#e66465") 